$size__site-main: 100%;
$size__site-sidebar: 25%;

$c-background: $color-white;

$color-text-body: $color-grey-2;
$color-text-muted: $color-grey-4;

$font-size-smaller: 0.75rem;
$font-size-small: 0.9rem;
$font-size: 1rem;
$font-size-big: 1.125rem;

$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$link: $color-accent;

$box-shadow-small: 0px 0px 15px rgba(0, 0, 0, 0.1);
$box-shadow: 0px 8px 16px rgba(30, 0, 40, 0.08) !important;
$box-shadow-large: 0px 16px 48px rgba(30, 0, 40, 0.1);

$border-radius-min: 0.3rem;
$border-radius: 0.625rem;
$border-radius-cta: 2.5rem;

$trans: 0.2s all ease-in-out;

$header-1: 3rem;
$header-2: 2.18rem;
$header-3: 1.5rem;
$header-4: 1.25rem;
$header-5: 1rem;
$header-6: 0.87rem;

$display-1: 6rem;
$display-2: 4.35rem;
$display-3: 3.45rem;
$display-4: 2.18rem;

$space-0: 0px;
$space-1: 1.5rem;
$space-2: 2.5rem;
$space-3: 4rem;
$space-4: 5rem;
$space-5: 7.5rem;
