$font-family-primary: "Work Sans", sans-serif;
$font-family-secondary: "Candal", sans-serif;

// stylelint-disable value-keyword-case
$font__main: $font-family-primary;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: $font-family-primary;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
